<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Article</title>
</head>
<body>
<h2> This article was deleted </h2>
<p>{{article.id}}</p>
<p><strong><big>{{article.topic}}</big></strong></p>
<p>{{article.subtopic}}</p>
 <br>
</body>
</html>